/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jul 9, 2023, 6:20:10 PM
    Author     : ASUS
*/

body {
    padding: 20px;
}

.form-container {
    max-width: 400px;
    margin: 0 auto;
}

.form-container h2 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-check-label {
    padding-left: 5px;
}

.btn {
    margin-right: 10px;
}
